@model IEnumerable<Betriebsmittelverwaltung.Models.Bestandsverwaltung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bestandsverwaltung</h2>

<p>
    <a asp-action="Create">Neuer Bestand</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaufdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wartungsintervall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaufdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wartungsintervall)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
